.symexp{
    background: url('https://utfs.io/f/4dbd332d-5790-4cbc-8937-caa0ab6d2862-u37fl8.jpg') no-repeat center/cover;
    min-height: 100vh;
}
.spin{
    animation: rotateAnimation 15s infinite linear;
}
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}